<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Order</title>
</head>
<body>

 <style type="text/css" scoped>
    #centerLayer {
     position: absolute;
     width: 38%;
     height: 60%;
     left: 50%;
     top: 50%;
     margin-left: -20%;
     margin-top: -20%;
     background: #d7eb87;
        outline: 2px solid #000;
    }
 </style>

<h2 style="text-align: center; color: {{ color }}">{{ message }}</h2>

<div id="centerLayer">

<form method="post" action="{% url 'add_order' %}" style="margin-top:10px; margin-left: 30px">
    <h2 align="center">Add Order</h2>
    <table cellspacing="15px">
    <tr>
    <td>Your Name:</td>
    <td><input type="text" name="customer" style="width: 300px" {{ hour_disabled }} required></td>
    </tr>

    <tr>
    <td>Your Email:</td>
    <td><input type="email" name="email" style="width: 300px" {{ hour_disabled }} required></td>
    </tr>


    <tr>
    <td>Your Buy:</td>
    <td><input type="text" name="buy" style="width: 300px" {{ hour_disabled }} required></td>
    </tr>

    <tr>
    <td>BYR:</td>
    <td><input type="text" name="byr" style="width: 70px" value="0" {{ hour_disabled }} required></td>
    </tr>

    <tr>
    <td>BYN:</td>
    <td><input type="text" name="byn" style="width: 70px" value="0" {{ hour_disabled }} required></td>
    </tr>

    <tr>
    <td>Comment:</td>
    <td><textarea name="comment" style="width: 300px" {{ hour_disabled }} required></textarea></td>
    </tr>

    <br>
    </table>
    <p style="text-align: right; margin-right: 35px"><input type="submit" value="Add Order" {{ hour_disabled }}></p>
{% csrf_token %}
</form>
    </div>

</body>
</html>